
  	<section>
  		<div class="swiper-container">
  			<ul class="swiper-wrapper">
  				<li class="swiper-slide"><img src="img/1.jpg" alt=""></li>
  				<li class="swiper-slide"><img src="img/2.jpg" alt=""></li>
  				<li class="swiper-slide"><img src="img/3.jpg" alt=""></li>
  				<li class="swiper-slide"><img src="img/4.jpg" alt=""></li>
  				<li class="swiper-slide"><img src="img/5.jpg" alt=""></li>
  			</ul>
  		</div>
  		<div class="classify">
  			<dl>
  				<dt><img src="img/clss1.png" alt=""></dt>
  				<dd>车商城</dd>
  			</dl>
  			<dl>
  				<dt><img src="img/clas.png" alt=""></dt>
  				<dd>分期购车</dd>
  			</dl>
  			<dl>
  				<dt><img src="img/class3.png" alt=""></dt>
  				<dd>团购活动</dd>
  			</dl>
  			<dl>
  				<dt><img src="img/class4.png" alt=""></dt>
  				<dd>找二手车</dd>
  			</dl>
  		</div>
  		<div class="goods">
  			<img src="img/middle.png" alt="">
  		</div>
  		<div class="cartitle">
  			<p>车主服务</p>
  		</div>
  		<div class="list">
  			<dl>
  				<dt>⛽</dt>
  				<dd>油卡充值</dd>
  			</dl>
  			<dl>
  				<dt>💗</dt>
  				<dd>低价保险</dd>
  			</dl>
  			<dl>
  				<dt>🕳</dt>
  				<dd>4S店保修</dd>
  			</dl>
  			<dl>
  				<dt>🚚</dt>
  				<dd>品质轮胎</dd>
  			</dl>
  		</div>
  		<div class="list">
  			<dl>
  				<dt>🎁</dt>
  				<dd>车品商城</dd>
  			</dl>
  			<dl>
  				<dt>🚘</dt>
  				<dd>洗车</dd>
  			</dl>
  			<dl>
  				<dt>⏳</dt>
  				<dd>违章待缴</dd>
  			</dl>
  			<dl>
  				<dt>📜</dt>
  				<dd>免费测评</dd>
  			</dl>
  		</div>
  		<div class="list">
  			<dl>
  				<dt>🌍</dt>
  				<dd>查周边</dd>
  			</dl>
  			<dl>
  				<dt>💴</dt>
  				<dd>领券保养</dd>
  			</dl>
  			<dl>
  				<dt>💳</dt>
  				<dd>车主卡</dd>
  			</dl>
  			<dl>
  				<dt>⌛</dt>
  				<dd>全部</dd>
  			</dl>
  		</div>
  		<div class="timetitle">
  		  <p>限时抢购</p> <p><span>13</span> : <span>13</span> : <span>13</span></p>
  		</div>
  		<div class="shoplist">
  			  <img src="img/shop1.png">
          <img src="img/shop2.png">
          <img src="img/shop3.png"> 
  		</div>
      <div class="moretitle">
        <p>活动专区</p>
        <p>更多活动></p>
      </div>
      <div class="moregoods">
        <dl>
           <dd>
              <p>测身价炫富</p>
              <p>身价大PK</p>
           </dd>
           <dt>
              <img src="img/more1.png">
           </dt>
        </dl>
        <dl>
           <dd>
             <p>全场0利息</p>
              <p>购车无压力</p>
           </dd>
           <dt>
              <img src="img/more2.png">
           </dt>
        </dl>
        <dl>
           <dd>
              <p>好车分期</p>
              <p>定制专属方案</p>
           </dd>
           <dt>
              <img src="img/more3.png">
           </dt>
        </dl>
      </div>
       <list></list>
  	</section>
  	<footer>
       <dl>
         <dt class="iconfont">&#xe653;</dt>
         <dd>首页</dd> 
       </dl>
       <dl>
         <dt class="iconfont">&#xe644;</dt>
         <dd>论坛</dd> 
       </dl> 
       <dl>
         <dt class="iconfont">&#xe651;</dt>
         <dd>选车</dd> 
       </dl> 
       <dl>
         <dt class="iconfont">&#xe634;</dt>
         <dd>发现</dd> 
       </dl> 
       <dl>
         <dt class="iconfont">&#xe62e;</dt>
         <dd>未登录</dd> 
       </dl> 
    </footer>
