 <div class="likegoodstitle">
        <p>猜你喜欢</p>
        <p>更多></p>
      </div>
      <div class="likegoods">
        <dl>
          <dt>
            <img src="img/car1.png">  
          </dt>
          <dd>
            <p>上海大众-全新旅途L</p>
            <p>上海大众-全新旅途L享2年0利息</p> 
            <p><b>1元</b> <span> 1.44万</span></p> 
          </dd>
        </dl>
        <dl>
          <dt>
            <img src="img/car2.png">  
          </dt>
          <dd>
            <p>上海大众-全新旅途L</p>
            <p>上海大众-全新旅途L享2年0利息</p> 
            <p><b>1元</b> <span> 1.44万</span></p> 
          </dd>
        </dl>
      </div>
       <div class="likegoods">
        <dl>
          <dt>
            <img src="img/car3.png">  
          </dt>
          <dd>
            <p>上海大众-全新旅途L</p>
            <p>上海大众-全新旅途L享2年0利息</p> 
            <p><b>1元</b> <span> 1.44万</span></p> 
          </dd>
        </dl>
        <dl>
          <dt>
            <img src="img/car4.png">  
          </dt>
          <dd>
            <p>上海大众-全新旅途L</p>
            <p>上海大众-全新旅途L享2年0利息</p> 
            <p><b>1元</b> <span> 1.44万</span></p> 
          </dd>
        </dl>
      </div>
       <div class="likegoodstitle">
        <p>猜你喜欢</p>
        <p>更多></p>
      </div>
      <div class="likegoods">
        <dl>
          <dt>
            <img src="img/car5.png">  
          </dt>
          <dd>
            <p>上海大众-全新旅途L</p>
            <p>上海大众-全新旅途L享2年0利息</p> 
            <p><b>1元</b> <span> 1.44万</span></p> 
          </dd>
        </dl>
        <dl>
          <dt>
            <img src="img/car6.png">  
          </dt>
          <dd>
            <p>上海大众-全新旅途L</p>
            <p>上海大众-全新旅途L享2年0利息</p> 
            <p><b>1元</b> <span> 1.44万</span></p> 
          </dd>
        </dl>
      </div>